{% extends 'base.html' %}
{% block title %} Query {% endblock %}
{% block content %}
    <div class = "container">
        <h2> Query </h2>
        <br/>
        <form action = "/query" method="POST">

            {% for row in rows%}
            <ul> 
                {{row.id}} 
                {{row.name}} 
                    <li> <a href="/update/{{row.id}}" class="btn btn-secondary btn-sm"> update</a>
                    <a href="/delete/{{row.id}}" class="btn btn-danger btn-sm"> delete</a>
                    </li>
            </ul>
            {% endfor %}
        </form>

    </div>
{% endblock %}